
@mixin flexp() {
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 2s;
    letter-spacing: .3rem;
}

.social{
    width: 100%;
    font-size: 1rem;
    left: 0;
    cursor: pointer;
    //display: none;
    // color: black;
    // justify-content: center;
    // align-items: center;
    @include flexp();

    //  a{
    //     color: $Pr-text-cl;
    //  }
} 

@mixin btn($bt-bg) {
    display: inline-block;
    // width: 20%;
    // height: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    margin: 1rem;
    // background-color: $bt-bg;
    border: .2rem solid goldenrod;
    box-shadow: .2rem .2rem .2rem goldenrod;
    // background-clip: linear-gradient(135deg, rgba(242,208,32,1) 20%, rgba(232,153,15,1) 43%, rgba(231,115,13,1) 75%, rgba(219,22,115,1) 93%, rgba(226,17,17,1) 100%);
    // background: rgb(242,208,32);
    background: linear-gradient(135deg, rgba(242,208,32,1) 20%, rgba(232,153,15,1) 43%, rgba(231,115,13,1) 75%, rgba(219,22,115,1) 93%, rgba(226,17,17,1) 100%);           
    // -webkit-background-clip: border-box;
    border-radius: 1.5rem;
    text-align: center;
    color: $pg-tx;
    font-size: 1.5rem;

    &:hover{
        background-color: transparent;
        background: whitesmoke;
        color: $pg-tx-bl;
        border: .3rem solid gold;
    }
}