@import './variable';
@import './mixin';

.Home{
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    
    // margin-bottom: 5rem;
    background-color: rgb(20, 20, 20);
    border-radius: 3rem;
    border: .2rem solid goldenrod;
    // box-shadow: 1rem 1rem .5rem goldenrod;
    box-shadow: 0 4px 8px 0 gold, 0 6px 20px 0 goldenrod;
    @media  screen  and (max-width:768px){
        height: auto;
        padding-bottom: 5rem;
    }
    
.container{
    // margin: 2rem 2rem;
    // margin-bottom: 2rem;
    // width: 95%;
    // position: inherit;
    // background-color: rgb(23, 24, 24);
    // height: 80vh  ;
    // border: .5rem solid white;
    // border-radius: 3rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    // flex-direction: column;
    .left{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
   

    h1{
        text-align: center;
        padding: 2rem 5rem;
        font-size: 3rem;
        text-align: center;
        color: $pg-tx;

        .hero_name{
            font-family: 'Ubuntu', sans-serif;
            font-size: 6rem;
            font-weight: bolder;
            // position: absolute;
            width: 100%;
            left: 0;
            z-index: 2;
            text-align: center;
            background: linear-gradient(135deg, rgba(242,208,32,1) 58%, rgba(232,153,15,1) 76%, rgba(231,174,13,1) 82%, rgba(226,150,17,1) 89%, rgba(219,41,22,1) 99%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media screen and (max-width:448px) {
      
                    font-size: 8rem;
           
            }  
        }

        @media screen and (max-width:448px) {
            font-size: 5rem;
   
    } 
         
      }

      .underline{
          height: 5px;
          width: 65%;
          position: relative;
          left: 15%;
          background-color: whitesmoke;
          margin-top: 2rem;
      }
      p{
        // background-color: ;
        color:  gold;
        position: relative;
        bottom: 0rem;
        padding: 2rem 6rem;
        font-size: 2rem;
        text-decoration: double;
        
        
        @media screen and (max-width:448px) {
      
            font-size: 3rem;
   
    } 
      
    }
    }

    .right{
        // width: 50%;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        @media  screen  and (width:448px) {
            
            height: auto;
        }

    .hero_img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 3rem;
        flex-direction: column;
        position: relative;
        width: 50rem;
         @media  screen  and (width:768px) {
                width: 40rem;
                height: 40rem;
            }
        @media screen and (max-width:440px){
            width: 45rem;
            height: 45rem;
        }

        img{
            width: 40rem;
            height: 40rem;
            // margin-bottom: 5rem;
            filter: grayscale(60%) contrast(96%);
            border-radius: 2rem;
           border: .5rem solid goldenrod;
           @media  screen  and (max-width:768px) {
            width: 40rem;
            height: 40rem;
        }
           @media screen and (max-width:440px){
            width: 40rem;
            height: 45rem;
        }
        
        }

       

    }
    }

    @media screen and (max-width:678px) {
        flex-direction: column;
        width: auto;
        border-radius: 2rem;
        // height: 100vh;
    }

  
    
}

.buttons{
    // position: relative;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    .btn{
    // margin: 2rem 1rem;
    @include btn($skcl);
    transition: 1s ease-out;

    &:hover{
        background-color:  whitesmoke;
    }

    @media screen and (max-width:448px) {
      
        font-size: 2.5rem;

     } 
  } 
@media screen  and (max-width:440px){
        // left: 25%;
        bottom: 0;
        justify-content: space-evenly;
        font-size: 3.5rem;
    }
}


}